// IMPORT GLOBAL STYLING
// -------------------------------------------------------------------- */
@import '../../assets/src/global.scss';

// DOCKIT OVERRIDES
// -------------------------------------------------------------------- */
:root {
  --dockit-vue-spacer: 16px;
  --dockit-vue-header-height: calc(
    var(--dockit-vue-header-content-height) + 2 * var(--dockit-vue-spacer)
  );
  --dockit-vue-nav-width: calc(12rem + 2 * var(--dockit-vue-spacer));
  --dockit-vue-header-content-height: 2rem;
  --navigation-group-heading-color: #b1b5b9;
  --dockit-swatch-title: 24px;
  --dockit-swatch-margin-bottom: 32px;
  --dockit-swatch-color: var(--msr-color-gray-300);
  --dockit-footer-height: 64px;
  --dockit-prose-spacer: 1.25rem;
  --dockit-prose-spacer-m: 2rem;
  --dockit-prose-spacer-l: 2.5rem;
  --dockit-border-color: var(--msr-color-gray-600);
  --dockit-border-color-bold: var(--msr-color-gray-600);
  --dockit-section-spacer: var(--msr-space-500);
  --dockit-section-spacer-2: var(--msr-space-600);
}

.prose {
  max-width: 980px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  width: 100%;
  padding-top: 24px;
  color: var(--dockit-prose-body);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  li > p {
    margin: 0 0 var(--dockit-prose-spacer);
    padding: 0;
  }
  h1 {
    font-size: var(--msr-font-size-800);
  }
  h2 {
    font-size: var(--msr-font-size-600);
  }
  h3 {
    font-size: var(--msr-font-size-400);
  }
  h4 {
    font-size: var(--msr-font-size-350);
  }
  h5 {
    font-size: var(--msr-font-size-300);
  }
  h6 {
    font-size: var(--msr-font-size-300);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: var(--dockit-section-spacer-2);
    line-height: var(--msr-font-line-height-tight);
    font-weight: var(--msr-font-weight-medium);
    font-weight: 500;
    position: relative;
  }

  h2 {
    margin-top: calc(var(--dockit-section-spacer) * 1.1);
  }

  h6 {
    margin-top: calc(var(--dockit-section-spacer));
    margin-bottom: calc(var(--dockit-section-spacer) * 0.8);
    line-height: var(--msr-font-line-height-loose);
    font-weight: var(--msr-font-weight-regular);
    code {
      font-size: var(--msr-font-size-300);
      background-color: var(--dockit-cell);
      padding: 0.1rem 0.5rem;
      border-radius: 0.375rem;
    }
  }

  p,
  li {
    font-size: var(--msr-font-size-200);
    font-weight: var(--msr-font-weight-regular);
    line-height: var(--msr-font-line-height-loose);
  }

  p,
  li,
  li > p {
    margin: 0 0 var(--dockit-prose-spacer);
  }
  ul ~ ul {
    margin-left: 0.5rem;
  }
  li ~ ul,
  li > ul {
    margin-top: var(--dockit-prose-spacer);
  }

  hr {
    height: 1px;
    background-color: var(--dockit-border-color);
    display: block;
    border: 0;
    margin: var(--dockit-section-spacer-2) 0;
  }

  code {
    font-weight: normal;
    font-size: 0.8rem;
    color: var(--dockit-navigation-location);
    &::before,
    &::after {
      content: '';
    }
  }

  b,
  strong {
    font-weight: var(--msr-font-weight-medium);
    font-weight: 500;
  }

  ul li::marker {
    color: var(--dockit-prose-body);
  }

  &.prose pre {
    background: #1e1e1e;
    font-family: Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono',
      'Courier New', monospace;
    font-size: 1rem;
  }

  table {
    width: 100%;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  p code,
  li code {
    line-height: 1;
    padding: 0.2rem 0.5rem;
    margin: 0.5em 0.15rem;
    overflow: auto;
    background-color: var(--dockit-cell);
    border-radius: 0.375rem;
    font-family: Monaco, Consolas, 'Courier New', monospace;
  }

  a {
    color: var(--dockit-navigation-location);
    font-weight: var(--msr-font-weight-regular);
    &:hover {
      color: var(--dockit-navigation-location-current);
    }
  }

  table:not(.msr-doc-table table) {
    border: 1px solid var(--dockit-border-color);
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    td,
    th {
      padding: 0.75rem;
      vertical-align: top;
      border: 1px solid #dee2e6;
    }
  }

  .header-anchor {
    position: absolute;
    left: 0.5rem;
  }
}

.markdown-body {
  flex-grow: 1;
  > h1 {
    margin-top: 0;
  }
}

// DOCKIT LAYOUT
// -------------------------------------------------------------------- */

.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03), 0 -1px 0 rgba(0, 0, 0, 0.06);
  .logo {
    color: var(--dockit-prose-body);
  }
  .content-top {
    .color-switch[data-v-8bb72a6e],
    .navigation-toggle[data-v-8bb72a6e] {
      color: var(--dockit-prose-body);
      background-color: transparent;
    }
    .feather-moon,
    .feather-menu {
      background-color: transparent;
      color: var(--dockit-navigation);
    }
  }
}

.logo {
  > :first-child {
    height: 100%;
  }
}

.content-container[data-v-8bb72a6e] {
  display: flex;
  flex-direction: column;
}

// DOCKIT NAVIGATION
// -------------------------------------------------------------------- */

.navigation[data-v-8bb72a6e] {
  padding-top: calc(1.5 * var(--dockit-vue-spacer));

  .package {
    font-size: 14px;
    color: var(--dockit-navigation);
    opacity: 1;
    margin: var(--msr-space-200) 0 var(--msr-space-100);
    display: block;
    text-transform: uppercase;
  }

  ul ~ ul {
    margin-left: 0;
    margin-top: 0;
  }

  ul {
    margin-top: 0;
  }

  ul li {
    padding: 0;
    margin: 0;
    a[data-v-8bb72a6e] {
      padding: 0;
      font-size: 16px;
      text-transform: capitalize;
      margin: 0 0 var(--msr-space-100);
      font-weight: 400;
      background-color: transparent;
      color: var(--dockit-navigation-package);

      &:hover {
        color: var(--dockit-navigation-location);
        transition: color 300ms ease-in-out;
      }
    }
    a[aria-current='location'][data-v-8bb72a6e] {
      font-weight: inherit;
      color: var(--dockit-navigation-location);
      background-color: transparent;
      padding: 0;
      margin: 0 0 var(--msr-space-100);
      border-radius: 0;
    }
  }
  @media screen and (max-width: 1023px) {
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.03), -1px 0 0 rgba(0, 0, 0, 0.06);
    z-index: 10001;
  }
}
// DOCKIT FOOTER
// -------------------------------------------------------------------- */
.msr-doc-footer {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  width: 100%;
  font-size: 14px;
  height: var(--dockit-footer-height);
  background-color: var(--dockit-layout-bg);
  z-index: 10000;
  padding: 1.5rem 0;
  color: var(--dockit-prose-body-sub);
  border-top: 1px solid var(--dockit-border-color);
  max-width: 1000px;
  margin: 64px auto 0;
}

// DOCKIT CUSTOM SWATCH
// -------------------------------------------------------------------- */

.swatch {
  font-size: 18px;
  margin: 0 0 var(--dockit-swatch-margin-bottom);
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid var(--msr-color-gray-300);
  }
  &__heading {
    flex-grow: 1;
    width: 24rem;
    padding-right: 16px;
  }
}

.msr-doc-table {
  border: 1px solid var(--dockit-border-color-bold);
  border-radius: var(--msr-border-radius-200);
  overflow-x: auto;
  margin: 0 0 var(--dockit-swatch-margin-bottom);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);

  table {
    margin: 0;
    border: none;
  }
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
  thead th {
    background: var(--msr-color-gray-200);
    font-weight: 600;
    color: var(--msr-color-gray-800);
  }
  th,
  td {
    font-size: var(--msr-font-size-100);
    padding: 16px 24px 14px;
    // border: none;
    border-top: 1px solid var(--dockit-border-color-bold);
    border-right: 1px solid var(--dockit-border-color-bold);
    vertical-align: middle;
  }
  tr td:last-child,
  tr th:last-child {
    border-right: 0;
  }
}
