// IMPORT GLOBAL STYLING
// -------------------------------------------------------------------- */
@import '../../assets/src/global.scss';

// DOCKIT OVERRIDES
// -------------------------------------------------------------------- */
:root {
  --dockit-vue-spacer: 16px;
  --dockit-vue-header-height: calc(
    var(--dockit-vue-header-content-height) + 2 * var(--dockit-vue-spacer)
  );
  --dockit-vue-nav-width: calc(12rem + 2 * var(--dockit-vue-spacer));
  --dockit-vue-header-content-height: 2rem;
  --navigation-group-heading-color: #b1b5b9;
}

.prose {
  max-width: 1000px;
}

.navigation .package[data-v-5b07cbfb] {
  font-size: 14px;
  color: var(--msr-color-gray-500);
  opacity: 1;
  margin: 24px 0 8px;
  display: block;
  text-transform: capitalize;
}

.navigation {
  ul li {
    padding: 0;
    margin: 0;
    color: var(--msr-color-gray-700);
    a[data-v-5b07cbfb] {
      padding: 0;
      font-size: 16px;
      text-transform: capitalize;
    }
    a[aria-current='location'][data-v-5b07cbfb] {
      font-weight: inherit;
      color: var(--msr-color-base-dark);
      background-color: transparent;
      padding: 0;
      margin: 0;
      border-radius: 0;
    }
  }
}

// TEST GLOBAL FONT FACE STYLES
// -------------------------------------------------------------------- */

h1 {
  font-family: 'GT America', Arial, Helvetica, sans-serif;
}
