// IMPORT GLOBAL STYLING
// -------------------------------------------------------------------- */
@import '../../assets/src/global.scss';

// DOCKIT OVERRIDES
// -------------------------------------------------------------------- */
:root {
  --dockit-vue-spacer: 16px;
  --dockit-vue-header-height: calc(
    var(--dockit-vue-header-content-height) + 2 * var(--dockit-vue-spacer)
  );
  --dockit-vue-nav-width: calc(12rem + 2 * var(--dockit-vue-spacer));
  --dockit-vue-header-content-height: 2rem;
  --navigation-group-heading-color: #b1b5b9;
  --dockit-swatch-title: 24px;
}

.prose {
  max-width: 960px;
  :where(p):not(:where([class~='not-prose'] *)) {
    margin: 0;
  }

  :where(h1, h2, h3, h4, h5, h6, p, li, li > *) {
    margin: 0 0 1rem;
    padding: 0.5rem 0 0 0;
  }

  :where(hr):not(:where([class~='not-prose'] *)) {
    height: 1px;
    background-color: var(--msr-color-gray-500);
    display: block;
    border: 0;
    margin: var(--msr-space-300) 0;
  }
}

.navigation {
  &.package[data-v-5b07cbfb] {
    font-size: 14px;
    color: var(--msr-color-gray-500);
    opacity: 1;
    margin: 24px 0 8px;
    display: block;
    text-transform: capitalize;
  }

  ul li {
    padding: 0;
    margin: 0;
    color: var(--msr-color-gray-700);
    a[data-v-5b07cbfb] {
      padding: 0;
      font-size: 16px;
      text-transform: capitalize;
    }
    a[aria-current='location'][data-v-5b07cbfb] {
      font-weight: inherit;
      color: var(--msr-color-base-dark);
      background-color: transparent;
      padding: 0;
      margin: 0;
      border-radius: 0;
    }
  }
}

table {
  width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

code {
  line-height: 1;
  padding: 0.2rem 0.5rem;
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  overflow: auto;
  background-color: var(--msr-color-gray-200);
  border-radius: 0.375rem;
  font-family: Monaco, Consolas, 'Courier New', monospace;
}
.prose :where(code):not(:where([class~='not-prose'] *)) {
  font-weight: normal;
  font-size: 0.8rem;
  color: var(--msr-color-red-medium);
  &::before,
  &::after {
    content: '';
  }
}

// FONT FACE
// -------------------------------------------------------------------- */

h1 {
  font-family: 'GT America', Arial, Helvetica, sans-serif;
}

p {
  font-size: var(--msr-font-size-100);
}

// SWATCH
// -------------------------------------------------------------------- */

.swatch {
  font-size: 18px;
  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid var(--msr-color-gray-300);
  }
  &__heading {
    flex-grow: 1;
    width: 24rem;
    padding-right: 16px;
  }
}

.swatch-table {
  border: 1px solid var(--msr-color-gray-300);
  border-radius: var(--msr-border-radius-200);
  overflow-x: auto;
  table {
    margin: 0;
    border: none;
  }
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
  thead th {
    background: var(--msr-color-gray-200);
    font-weight: 600;
    color: var(--msr-color-gray-800);
  }
  th,
  td {
    font-size: var(--msr-font-size-100);
    padding: 16px 24px 14px;
    border-top: 1px solid var(--msr-color-gray-300);
    border-right: 1px solid var(--msr-color-gray-300);
    vertical-align: middle;
  }
  tr :last-child {
    border-right: 0;
  }
}
