.dark {
  --dockit-layout-bg: var(--msr-color-gray-900);
  --dockit-border-color: var(--msr-color-gray-700);
  --border-color-bold: var(--msr-color-gray-600);
  --dockit-prose-body: var(--msr-color-gray-200);
  --dockit-prose-body-sub: var(--msr-color-gray-600);
  --dockit-navigation-package: var(--msr-color-gray-600);
  --dockit-navigation: var(--msr-color-gray-200);
  --dockit-navigation-location: #d4b3ff;
  --dockit-navigation-location-current: #ddc4ff;
  --dockit-navigation-location-hover: #e9d8ff;
  --dockit-border: var(--msr-color-gray-700);
  --dockit-cell: var(--msr-color-gray-800);
}

.light {
  --dockit-layout-bg: #ffffff;
  --dockit-border-color: var(--msr-color-gray-300);
  --dockit-border-color-bold: var(--msr-color-gray-400);
  --dockit-prose-body: var(--msr-color-base-dark);
  --dockit-prose-body-sub: var(--msr-color-gray-800);
  --dockit-navigation-package: var(--msr-color-base-dark);
  --dockit-navigation: var(--msr-color-gray-700);
  --dockit-navigation-location: #9747ff;
  --dockit-navigation-location-current: #7a14ff;
  --dockit-navigation-location-hover: #dfc7ff;
  --dockit-cell: var(--msr-color-gray-200);
}

.box {
  width: 6rem;
  height: 6rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background-color: #f8c307;
  border-radius: 0.2rem;
}
