:root{
 --msr-border-width-100: 1px;
 --msr-border-width-200: 2px;
 --msr-border-radius-100: 3px;
 --msr-border-radius-200: 8px;
 --msr-border-radius-300: 16px;
 --msr-border-radius-400: 32px;
 --msr-border-radius-circle: 1000px;
 --msr-border-radius-pill: 9999px;
 --msr-border-radius-none: 0px;
 --msr-font-size-50: 16px * 0.938px;
 --msr-font-size-100: 16px * 1px;
 --msr-font-size-200: 16px * 1.125px;
 --msr-font-size-250: 16px * 1.25px;
 --msr-font-size-300: 16px * 1.5px;
 --msr-font-size-350: 16px * 1.75px;
 --msr-font-size-400: 16px * 2px;
 --msr-font-size-500: 16px * 2.25px;
 --msr-font-size-600: 16px * 2.5px;
 --msr-font-size-700: 16px *3px;
 --msr-font-size-800: 16px * 3.5px;
 --msr-font-size-900: 16px * 4px;
 --msr-font-size-base: 16px;
 --msr-font-family-gt-america: GT America;
 --msr-font-weight-regular: 400;
 --msr-font-weight-medium: 500;
 --msr-font-weight-bold: 700;
 --msr-font-weight-extended-medium: 500;
 --msr-font-weight-extended-regular: 400;
 --msr-font-weight-extended-bold: 700;
 --msr-font-text-case-capitalize: capitalize;
 --msr-font-line-height-tight: 110%;
 --msr-font-line-height-none: 100%;
 --msr-font-line-height-extra: 120%;
 --msr-font-line-height-standard: 125%;
 --msr-font-line-height-loose: 150%;
 --msr-font-text-decoration-underline: underline;
 --msr-font-text-decoration-none: none;
 --msr-color-gray-200: #F4F6F8;
 --msr-color-gray-300: #DEE0E2;
 --msr-color-gray-400: #C8CACB;
 --msr-color-gray-500: #B1B5B9;
 --msr-color-gray-600: #8E949A;
 --msr-color-gray-700: #6F757C;
 --msr-color-gray-800: #545C63;
 --msr-color-gray-900: #484C51;
 --msr-color-gradient-dark: linear-gradient(90deg, #000 0%, #484C51 100%);
 --msr-color-gradient-blue: linear-gradient(90deg, #007BB3 0%, #0089C7 100%);
 --msr-color-gradient-gray: linear-gradient(90deg, #DEE0E2 0%, #C8CACB 100%);
 --msr-color-transparency-3: rgba(0, 0, 0, 0.03);
 --msr-color-transparency-5: rgba(0, 0, 0, 0.05);
 --msr-color-transparency-8: rgba(0, 0, 0, 0.08);
 --msr-color-transparency-10: rgba(0, 0, 0, 0.1);
 --msr-color-transparency-16: rgba(0, 0, 0, 0.16);
 --msr-color-transparency-18: rgba(0, 0, 0, 0.18);
 --msr-color-transparency-70: rgba(0, 0, 0, 0.7);
 --msr-color-transparency-90: rgba(0, 0, 0, 0.9);
 --msr-color-transparency-00: rgba(0, 0, 0, 0);
 --msr-color-base-light: #fff;
 --msr-color-base-dark: #000;
 --msr-color-yellow-medium: #E6C005;
 --msr-color-yellow-light: #FDFABA;
 --msr-color-blue-medium: #008CB8;
 --msr-color-blue-light: #D6F5FF;
 --msr-color-red-medium: #BD2D00;
 --msr-color-red-light: #FFE2E0;
 --msr-color-green-medium: #00AD82;
 --msr-color-green-light: #D6FFF5;
 --msr-color-brand-primary-default: #007BB3;
 --msr-color-brand-primary-bright: #0089C7;
 --msr-color-brand-primary-light: #EAF9FF;
 --msr-color-brand-secondary-default: #000;
 --msr-color-brand-secondary-medium: #484C51;
 --msr-color-brand-secondary-light: #F4F6F8;
 --msr-size-16: 16px;
 --msr-size-24: 24px;
 --msr-size-32: 32px;
 --msr-size-48: 48px;
 --msr-size-56: 56px;
 --msr-space-25: 8px * 0.25px;
 --msr-space-50: 8px * 0.5px;
 --msr-space-100: 8px * 1px;
 --msr-space-150: 8px * 1.5px;
 --msr-space-200: 8px * 2px;
 --msr-space-300: 8px * 3px;
 --msr-space-400: 8px * 4px;
 --msr-space-500: 8px * 5px;
 --msr-space-600: 8px * 6px;
 --msr-space-700: 8px * 7px;
 --msr-space-800: 8px * 8px;
 --msr-space-900: 8px * 9px;
 --msr-space-1000: 8px * 10px;
 --msr-space-1100: 8px * 11px;
 --msr-space-1200: 8px * 12px;
 --msr-space-none: 0px;
 --msr-space-base: 8px;
 --msr-shadow-100: 0 1 2 0 rgba(0, 0, 0, 0.03);
 --msr-shadow-200: 0 1 3 0 rgba(0, 0, 0, 0.1), 0 1 2 0 rgba(0, 0, 0, 0.05);
 --msr-shadow-300: 0 4 8 -2 rgba(0, 0, 0, 0.08), 0 2 4 -2 rgba(0, 0, 0, 0.03);
 --msr-shadow-400: 0 12 16 -4 rgba(0, 0, 0, 0.08), 0 4 6 -2 rgba(0, 0, 0, 0.03);
 --msr-shadow-500: 0 20 24 -4 rgba(0, 0, 0, 0.08), 0 8 8 -4 rgba(0, 0, 0, 0.03);
 --msr-shadow-600: 0 24 48 -12 rgba(0, 0, 0, 0.18);
 --msr-shadow-700: 0 32 64 -12 rgba(0, 0, 0, 0.16);
 --msr-opacity-zero: 0;
}