:root{
 --msr-mobile-heading-bold-level100: 700 16px * 2.5px * 0.8/110% GT America;
 --msr-mobile-heading-bold-level200: 700 16px * 2.25px * 0.8/110% GT America;
 --msr-mobile-heading-bold-level300: 700 16px * 2px  * 0.8/110% GT America;
 --msr-mobile-heading-bold-level400: 700 16px * 1.5px  * 0.8/110% GT America;
 --msr-mobile-heading-medium-level100: 500 16px * 2.5px  * 0.8/110% GT America;
 --msr-mobile-heading-medium-level200: 500 16px * 2.25px  * 0.8/110% GT America;
 --msr-mobile-heading-medium-level300: 500 16px * 2px * 0.8/110% GT America;
 --msr-mobile-heading-medium-level400: 500 16px * 1.5px * 0.8/110% GT America;
 --msr-mobile-heading-extendedbold-level100: 700 16px * 2.5px * 0.8/110% GT America;
 --msr-mobile-heading-extendedbold-level200: 700 16px * 2.25px * 0.8/110% GT America;
 --msr-mobile-heading-extendedbold-level300: 700 16px * 2px * 0.8/110% GT America;
 --msr-mobile-heading-extendedbold-level400: 700 16px * 1.5px * 0.8/110% GT America;
 --msr-mobile-heading-extendedmedium-level100: 500 16px * 2.5px * 0.8/110% GT America;
 --msr-mobile-heading-extendedmedium-level200: 500 16px * 2.25px/110% GT America;
 --msr-mobile-heading-extendedmedium-level300: 500 16px * 2px * 0.8/110% GT America;
 --msr-mobile-heading-extendedmedium-level400: 500 16px * 1.5px * 0.8/110% GT America;
 --msr-mobile-display-bold-level-100: 700 16px * 4px * 0.8/110% GT America;
 --msr-mobile-display-bold-level200: 700 16px * 3.5px * 0.8/110% GT America;
 --msr-mobile-display-bold-level300: 700 16px *3px * 0.8/110% GT America;
 --msr-mobile-display-medium-level100: 500 16px * 4px * 0.8/110% GT America;
 --msr-mobile-display-medium-level200: 500 16px * 3.5px * 0.8/110% GT America;
 --msr-mobile-display-medium-level300: 500 16px *3px * 0.8/110% GT America;
 --msr-mobile-lead-level100: 400 16px * 1.5px * 0.8/125% GT America;
 --msr-mobile-lead-level200: 400 16px * 1.25px * 0.8/125% GT America;
 --msr-mobile-lead-level300: 400 16px * 1.125px * 0.8/125% GT America;
 --msr-desktop-heading-bold-level100: 700 16px * 2.5px/110% GT America;
 --msr-desktop-heading-bold-level200: 700 16px * 2.25px/110% GT America;
 --msr-desktop-heading-bold-level300: 700 16px * 2px/110% GT America;
 --msr-desktop-heading-bold-level400: 700 16px * 1.5px/110% GT America;
 --msr-desktop-heading-bold-level500: 700 16px * 1.25px/110% GT America;
 --msr-desktop-heading-bold-level600: 700 16px * 1.125px/110% GT America;
 --msr-desktop-heading-bold-level700: 700 16px/110% GT America;
 --msr-desktop-heading-medium-level100: 500 16px * 2.5px/110% GT America;
 --msr-desktop-heading-medium-level200: 500 16px * 2.25px/110% GT America;
 --msr-desktop-heading-medium-level300: 500 16px * 2px/110% GT America;
 --msr-desktop-heading-medium-level400: 500 16px * 1.5px/110% GT America;
 --msr-desktop-heading-medium-level500: 500 16px * 1.25px/110% GT America;
 --msr-desktop-heading-medium-level600: 500 16px * 1.125px/110% GT America;
 --msr-desktop-heading-medium-level700: 500 16px/110% GT America;
 --msr-desktop-heading-extendedbold-level100: 700 16px * 2.5px/110% GT America;
 --msr-desktop-heading-extendedbold-level200: 700 16px * 2.25px/110% GT America;
 --msr-desktop-heading-extendedbold-level300: 700 16px * 2px/110% GT America;
 --msr-desktop-heading-extendedbold-level400: 700 16px * 1.5px/110% GT America;
 --msr-desktop-heading-extendedmedium-level100: 500 16px * 2.5px/110% GT America;
 --msr-desktop-heading-extendedmedium-level200: 500 16px * 2.25px/110% GT America;
 --msr-desktop-heading-extendedmedium-level300: 500 16px * 2px/110% GT America;
 --msr-desktop-heading-extendedmedium-level400: 500 16px * 1.5px/110% GT America;
 --msr-desktop-display-bold-level-100: 700 16px * 4px/110% GT America;
 --msr-desktop-display-bold-level200: 700 16px * 3.5px/110% GT America;
 --msr-desktop-display-bold-level300: 700 16px *3px/110% GT America;
 --msr-desktop-display-medium-level100: 500 16px * 4px/110% GT America;
 --msr-desktop-display-medium-level200: 500 16px * 3.5px/110% GT America;
 --msr-desktop-display-medium-level300: 500 16px *3px/110% GT America;
 --msr-desktop-lead-level100: 400 16px * 1.5px/125% GT America;
 --msr-desktop-lead-level200: 400 16px * 1.25px/125% GT America;
 --msr-desktop-lead-level300: 400 16px * 1.125px/125% GT America;
 --msr-desktop-lead-level400: 400 16px/110% GT America;
 --msr-body-medium-level100: 500 16px * 1.25px/150% GT America;
 --msr-body-medium-level200: 500 16px * 1.125px/150% GT America;
 --msr-body-medium-level300: 500 16px/150% GT America;
 --msr-body-regular-level100: 400 16px * 1.25px/150% GT America;
 --msr-body-regular-level200: 400 16px * 1.125px/150% GT America;
 --msr-body-regular-level300: 400 16px/150% GT America;
 --msr-text-color-default: #000;
 --msr-text-color-subtle: #484C51;
 --msr-text-color-action-primary: #007BB3;
 --msr-text-color-action-secondary: #000;
 --msr-text-color-nonessential: #8E949A;
 --msr-text-color-default-ondark: #fff;
 --msr-text-color-subtle-ondark: #B1B5B9;
 --msr-text-color-action-primary-ondark: #0089C7;
 --msr-text-color-action-secondary-ondark: #fff;
 --msr-text-color-nonessential-ondark: #8E949A;
 --msr-icon-color-default: #000;
 --msr-icon-color-default-ondark: #fff;
 --msr-feedback-color-critical: #BD2D00;
 --msr-feedback-color-background-critical: #FFE2E0;
 --msr-feedback-color-background-warning: #FDFABA;
 --msr-feedback-color-background-informative: #D6F5FF;
 --msr-feedback-color-background-success: #D6FFF5;
 --msr-feedback-color-background-unknown: #F4F6F8;
 --msr-feedback-color-background-unknown-ondark: #000;
 --msr-feedback-color-success: #00AD82;
 --msr-feedback-color-warning: #E6C005;
 --msr-feedback-color-informative: #008CB8;
 --msr-feedback-color-unknown: #000;
 --msr-feedback-color-unknown-ondark: #fff;
 --msr-interactive-color-primary-default: #007BB3;
 --msr-interactive-color-primary-hover: #0089C7;
 --msr-interactive-color-secondary-default: #000;
 --msr-interactive-color-secondary-hover: #484C51;
 --msr-background-color-light: #fff;
 --msr-background-color-dark: #000;
 --msr-background-color-gray: #F4F6F8;
 --msr-background-color-brand: #007BB3;
 --msr-border-color-default: #DEE0E2;
 --msr-border-color-dark: #000;
 --msr-border-color-default-ondark: #fff;
 --msr-border-bottom-default: [object Object];
}