:root{
 --msr-alert-color-background-product-critical: #FFE2E0;
 --msr-alert-color-background-product-warning: #FDFABA;
 --msr-alert-color-background-product-info: #D6F5FF;
 --msr-alert-color-background-product-success: #D6FFF5;
 --msr-alert-color-background-product-tip: #F4F6F8;
 --msr-alert-color-background-product-tip-ondark: #000;
 --msr-alert-color-background-global-critical: #FFE2E0;
 --msr-alert-color-background-global-warning: #FDFABA;
 --msr-alert-color-background-global-info: #D6F5FF;
 --msr-alert-color-background-global-info-ondark: #000;
 --msr-alert-color-background-label-critical: #FFE2E0;
 --msr-alert-color-background-label-warning: #FDFABA;
 --msr-alert-color-background-label-info: #D6F5FF;
 --msr-alert-color-background-label-success: #D6FFF5;
 --msr-alert-color-background-toast-default: #fff;
 --msr-alert-color-text-ondark: #fff;
 --msr-alert-color-text-default: #000;
 --msr-alert-color-text-subtle: #484C51;
 --msr-alert-text-global: 400 16px * 1.125px/110% GT America;
 --msr-alert-text-product: 400 16px * 1px/125% GT America;
 --msr-alert-text-label: 400 16px/110% GT America;
 --msr-alert-text-toast: 400 16px/110% GT America;
 --msr-alert-label-padding-left: 8px;
 --msr-alert-label-padding-right: 8px;
 --msr-alert-label-padding-top: 4px;
 --msr-alert-label-padding-bottom: 4px;
 --msr-alert-border-radius-label: 3px;
 --msr-alert-border-radius-product: 8px;
 --msr-alert-border-radius-toast: 8px;
 --msr-alert-shadow-toast: 0 5 15 2 rgba(9, 10, 11, 0.1);
 --msr-alert-global-padding-left: 8px * 8px;
 --msr-alert-global-padding-right: 8px * 4px;
 --msr-alert-global-padding-top: 26px;
 --msr-alert-global-padding-bottom: 26px;
 --msr-alert-product-padding-left: 8px * 2px;
 --msr-alert-product-padding-right: 8px * 2px;
 --msr-alert-product-padding-top: 8px * 2px;
 --msr-alert-product-padding-bottom: 8px * 2px;
 --msr-alert-toast-padding-left: 8px * 3px;
 --msr-alert-toast-padding-right: 8px * 3px;
 --msr-alert-toast-padding-top: 8px * 3px;
 --msr-alert-toast-padding-bottom: 8px * 3px;
}