:root{
 --msr-button-color-background-primary-default: #000;
 --msr-button-color-background-primary-hover: #484C51;
 --msr-button-color-background-primary-disabled: #C8CACB;
 --msr-button-color-background-primary-loading: #000;
 --msr-button-color-background-outline-default: rgba(0, 0, 0, 0);
 --msr-button-color-background-outline-hover: #000;
 --msr-button-color-background-flat-hover: #F4F6F8;
 --msr-button-color-background-secondary-default: #fff;
 --msr-button-color-background-secondary-hover: #DEE0E2;
 --msr-button-color-background-secondary-disabled: #F4F6F8;
 --msr-button-color-background-secondary-loading: #fff;
 --msr-button-color-border-outline-default: #000;
 --msr-button-color-border-outline-disabled: #C8CACB;
 --msr-button-color-border-outline-loading: #000;
 --msr-button-color-border-secondary-default: #DEE0E2;
 --msr-button-color-texticon-primary-black-default: #fff;
 --msr-button-color-texticon-primary-brand-default: #fff;
 --msr-button-color-texticon-hagerty-social-default: #fff;
 --msr-button-color-texticon-facebook-default: #fff;
 --msr-button-color-texticon-outline-default: #000;
 --msr-button-color-texticon-outline-hover: #fff;
 --msr-button-color-texticon-outline-disabled: #484C51;
 --msr-button-color-texticon-secondary-default: #000;
 --msr-button-color-texticon-secondary-disabled: #484C51;
 --msr-button-color-texticon-flat-default: #000;
 --msr-button-color-texticon-flat-disabled: #8E949A;
 --msr-button-color-texticon-text-black-default: #000;
 --msr-button-color-texticon-text-black-hover: #6F757C;
 --msr-button-color-texticon-text-black-disabled: #B1B5B9;
 --msr-button-text-large: 400 16px * 1.25px/110% GT America;
 --msr-button-text-medium: 400 16px * 1.125px/110% GT America;
 --msr-button-text-small: 400 16px/110% GT America;
 --msr-button-size-large: 56;
 --msr-button-size-medium: 48;
 --msr-button-size-small: 40;
 --msr-button-size-xsmall: 24;
 --msr-button-border-radius-default: 9999px;
 --msr-button-border-radius-circle: 1000px;
 --msr-button-space-large-padding-left: 32px;
 --msr-button-space-large-padding-right: 32px;
 --msr-button-space-medium-padding-left: 8px * 3px;
 --msr-button-space-medium-padding-right: 8px * 3px;
 --msr-button-space-padding-gap: 8px;
 --msr-button-border-width: 1px;
 --msr-button-icon-size-small: 20px;
 --msr-button-icon-size-medium: 24px;
}