:root{
 --msr-custom-select-color-background-default: #fff;
 --msr-custom-select-color-background-hover: #DEE0E2;
 --msr-custom-select-color-background-hover-selected: #DEE0E2;
 --msr-custom-select-color-background-focus: #fff;
 --msr-custom-select-color-background-disabled: #F4F6F8;
 --msr-custom-select-color-background-selected: #F4F6F8;
 --msr-custom-select-color-border-default: #B1B5B9;
 --msr-custom-select-color-border-selected: #000;
 --msr-custom-select-color-text-default: #000;
 --msr-custom-select-color-text-disabled: #000;
 --msr-custom-select-text: 400 16px * 1.125px/110% GT America;
 --msr-custom-select-size-scale: 72;
 --msr-custom-select-size-list: 48;
 --msr-custom-select-border-radius: 8px;
 --msr-custom-select-border-width-default: 1px;
 --msr-custom-select-border-width-selected: 2px;
 --msr-custom-select-border-width-focus: 2px;
 --msr-custom-select-list-space-padding-left: 16px;
 --msr-custom-select-list-space-padding-right: 16px;
 --msr-validation-text: 400 16px * 1px/125% GT America;
 --msr-validation-border-radius: 8px;
 --msr-validation-space-padding-left: 8px * 1px;
 --msr-validation-space-padding-right: 8px * 1px;
 --msr-validation-space-padding-top: 8px * 0.5px;
 --msr-validation-space-padding-bottom: 8px * 0.5px;
 --msr-validation-color-background-error: #FFE2E0;
 --msr-validation-color-background-success: #D6FFF5;
 --msr-validation-color-text: #000;
 --msr-validation-color-critical-text: #BD2D00;
 --msr-radiobutton-color-background-default: #fff;
 --msr-radiobutton-color-background-checked: #000;
 --msr-radiobutton-color-background-checked-hover: #B1B5B9;
 --msr-radiobutton-color-text-label-default: #000;
 --msr-radiobutton-color-text-label-disabled: #6F757C;
 --msr-radiobutton-color-text-heading: #000;
 --msr-radiobutton-color-border-default: #B1B5B9;
 --msr-radiobutton-color-border-hover: #000;
 --msr-radiobutton-color-border-focus: #8E949A;
 --msr-radiobutton-color-border-disabled: #DEE0E2;
 --msr-radiobutton-color-border-checked: #000;
 --msr-radiobutton-color-border-checked-hover: #B1B5B9;
 --msr-radiobutton-border-radius: 1000px;
 --msr-radiobutton-border-width: 1px;
 --msr-checkbox-color-text-label-default: #000;
 --msr-checkbox-color-text-label-disabled: #6F757C;
 --msr-checkbox-color-text-heading: #000;
 --msr-checkbox-color-label-checked: #000;
 --msr-checkbox-color-label-hover: #000;
 --msr-checkbox-color-border-default: #B1B5B9;
 --msr-checkbox-color-border-hover: #000;
 --msr-checkbox-color-border-focus: #8E949A;
 --msr-checkbox-color-border-disabled: #DEE0E2;
 --msr-checkbox-color-border-checked: #000;
 --msr-checkbox-color-border-checked-hover: #B1B5B9;
 --msr-checkbox-color-background-default: #fff;
 --msr-checkbox-color-background-checked: #000;
 --msr-checkbox-color-background-checked-hover: #B1B5B9;
 --msr-checkbox-border-radius: 3px;
 --msr-checkbox-border-width: 1px;
 --msr-form-field-space-small-padding-left: 16px;
 --msr-form-field-space-small-padding-right: 16px;
 --msr-form-field-space-padding-gap: 8px;
 --msr-form-field-space-large-padding-left: 20px;
 --msr-form-field-space-large-padding-right: 20px;
 --msr-form-field-size-large: 56;
 --msr-form-field-size-small: 48;
 --msr-form-field-border-width-default: 1px;
 --msr-form-field-border-width-focus: 2px;
 --msr-form-field-border-width-error: 2px;
 --msr-form-field-color-background-default: #fff;
 --msr-form-field-color-background-readonly: #F4F6F8;
 --msr-form-field-color-background-disabled: #F4F6F8;
 --msr-form-field-color-border-default: #B1B5B9;
 --msr-form-field-color-border-focus: #000;
 --msr-form-field-color-border-error: #BD2D00;
 --msr-form-field-text-sublabel: 400 16px * 0.938px/110% GT America;
 --msr-form-field-text-label: 500 16px/110% GT America;
 --msr-form-field-text-input-small: 400 16px * 1.125px/110% GT America;
 --msr-form-field-text-input-large: 400 16px * 1.25px/110% GT America;
 --msr-form-field-border-radius: 8px;
 --msr-form-input-color-text-placeholder: #6F757C;
 --msr-form-input-color-text-filled: #000;
 --msr-form-input-color-text-focus: #B1B5B9;
 --msr-form-input-color-text-focus-filled: #000;
 --msr-form-input-color-text-error: #000;
 --msr-form-input-color-text-readonly: #000;
 --msr-form-input-color-text-disabled: #000;
 --msr-form-input-color-text-label: #000;
 --msr-form-input-color-text-hint: #484C51;
 --msr-form-input-color-text-requirement: #8E949A;
 --msr-radio-button-text-small: 400 16px * 1.125px/110% GT America;
 --msr-radio-button-text-large: 400 16px * 1.25px/110% GT America;
 --msr-radio-button-list-heading-small: 500 16px/110% GT America;
 --msr-radio-button-list-heading-large: 500 16px * 1.125px/110% GT America;
 --msr-check-box-text-label-small: 400 16px * 1.125px/110% GT America;
 --msr-check-box-text-label-x-small: 400 16px * 1px/110% GT America;
 --msr-check-box-text-label-large: 400 16px * 1.25px/110% GT America;
 --msr-check-box-text-heading-small: 500 16px/110% GT America;
 --msr-check-box-text-heading-large: 500 16px * 1.125px/110% GT America;
}