// GT AMERICA STANDARD
// -------------------------------------------------------------------- */
@font-face {
  font-family: 'GT America';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Standard-Regular.woff2')
      format('woff2'),
    url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Standard-Regular.woff')
      format('woff');
}

@font-face {
  font-family: 'GT America Italic';
  font-style: italic;
  font-weight: normal;
  font-display: fallback;
  src: url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Standard-Regular-Italic.woff2')
      format('woff2'),
    url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Standard-Regular-Italic.woff')
      format('woff');
}

@font-face {
  font-family: 'GT America Medium';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Standard-Medium.woff2')
      format('woff2'),
    url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Standard-Medium.woff')
      format('woff');
}

@font-face {
  font-family: 'GT America Bold';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Standard-Bold.woff2')
      format('woff2'),
    url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Standard-Bold.woff')
      format('woff');
}

// GT AMERICA EXTENDED
// -------------------------------------------------------------------- */

@font-face {
  font-family: 'GT America Extended';
  font-style: normal;
  font-stretch: expanded;
  font-weight: 500;
  font-display: fallback;
  src: url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Extended-Regular.woff2')
      format('woff2'),
    url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Extended-Regular.woff')
      format('woff');
}

@font-face {
  font-family: 'GT America Extended Medium';
  font-style: normal;
  font-stretch: expanded;
  font-weight: 500;
  font-display: fallback;
  src: url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Extended-Medium.woff2')
      format('woff2'),
    url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Extended-Medium.woff')
      format('woff');
}

@font-face {
  font-family: 'GT America Extended Bold';
  font-style: normal;
  font-stretch: expanded;
  font-weight: 700;
  font-display: fallback;
  src: url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Extended-Bold.woff2')
      format('woff2'),
    url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Extended-Bold.woff')
      format('woff');
}

// GT AMERICA MONO
// -------------------------------------------------------------------- */

@font-face {
  font-family: 'GT America Mono';
  font-style: normal;
  font-weight: normal;
  font-display: fallback;
  src: url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Mono-Regular.woff2')
      format('woff2'),
    url('https://apps.static.sandbox.hagerty.com/fonts/GT%20America/GT-America-Mono-Regular.woff')
      format('woff');
}
